* {
  margin: 0;
  padding: 0;
}
body {
  font:15px system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100px;
  background-color: #3ba66b;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.search-container {
  display: flex;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  max-width: 300px;
}

.search-auto {
  flex: 1;
  border: none;
  padding: 10px;
  outline: none;
}

.search-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  fill: white;
  background-color: #ffb416;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-icon {
  color: white;
  align-items: center;
}

.search-button:hover {
  background-color: #198754;
}

@media screen and (max-width: 768px) {
  .search-auto {
    max-width: 100%;
  }

  #left-menu,
  #right-menu {
    text-align: center;
    padding: 10px;
  }

  #left-menu li,
  #right-menu li {
    display: block;
    margin-right: 0;
  }

  .search-button {
    width: 100%;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.header .middle-header:after {
  content: "";
  background: url(/img/logo.png) no-repeat top center;
  position: absolute;
  width: 100%;
  height: 47px;
  bottom: -47px;
  z-index: 9;
}

#banner img {
  max-width: 100%;
  height: auto;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

#left-menu {
  display: flex;
  padding-left: 100px;
}

#right-menu {
  display: flex;
  padding-right: 100px;
  align-items: center;
}

#right-menu li {
  margin-right: 20px;
  list-style: none;
  display: flex;
}

#right-menu li a {
  text-decoration: none;
  color: white;
}

.login,
.register {
  color: black !important;
}

#account {
  position: relative;
}

#account-options {
  width: 80px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  color: #000;
  background: #fff;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#account:hover #account-options {
  display: block;
}

nav ul li a:hover {
  color: rgb(255, 237, 138);
}

#account:hover a {
  color: rgb(255, 237, 138);
}

#product-menu:hover .product-submenu {
  display: block;
  color: #000;
}
.product-submenu li {
  margin: 0;
  border-bottom: 1px solid #eeeeee;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-submenu .submenu li {
  border-bottom: 1px solid #eeeeee;
}

#fruit-menu .submenu {
  width: 100px;
  position: absolute;
  background-color: white;
  display: none;
  z-index: 1;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  left: 150px;
  top: 2px;
  text-align: left;
}

#fruit-menu:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
}

.submenu.product-submenu {
  display: none;
}

#product-menu:hover .submenu li a {
  color: black;
}

#product-menu:hover .submenu li a:hover {
  color: rgb(255, 237, 138);
}

.submenu.product-submenu li {
  transition: transform 0.3s;
}

.submenu.product-submenu li:hover {
  transform: scale(1.1);
}

svg.bi .bi-caret-right-fill {
  position: relative;
}
